<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>
        <% include ./nav %>
    </header>
    <div class="container">
        <div class="row">
            
            <div class="col-md-8 col-md-offset-2">
                <form action="/contacts" method="post">
                    <div class="form-group">
                        <label>
                            Name
                            <input type="text" name="name" class="form-control">
                        </label>
                    </div>
                    
                    <div class="form-group">
                        <label>
                            Email
                            <input type="text" name="email" class="form-control">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            Phone
                            <input type="text" name="phone" class="form-control">
                        </label>
                    </div>
                    
                    <input type="submit" class="form-control btn btn-outline-success btn-lg btn-block" value="연락처 저장"">
                    <input type="reset" value="양식 초기화" class="form-control btn btn-outline-warning btn-lg btn-block">
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>